* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

hr {
    margin: 1rem 0;
}

.body {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    overflow: auto;
}

.display-error-message {
    display: none;
}

/* ------------------------------------------------------------------------------------------------ */

nav {
    border: 1px solid black;
    height: 3rem;
    width: 100%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ------------------------------------------------------------------------------------------------ */

.profile-options {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-options a {
    text-decoration: none;
    color: black;
}

.profile-options button {
    height: auto;
    width: auto;
    padding: 0.3rem;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------ */

.about {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 1rem;
}

/* ------------------------------------------------------------------------------------------------ */

@media (max-width: 660px) {
    .body {
        display: none;
    }

    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: top;
        justify-content: center;
    }

    .display-error-message {
        display: block;
        margin-top: 10vh;
    }
}