* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Times New Roman';
}

body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 1rem 0;
}

.body {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    overflow: auto;
}

/* ------------------------------------------------------------------------------------------------ */

nav {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-box {
    height: 3rem;
    width: auto;
}

.logo-box img {
    height: 100%;
    width: auto;
}

h1 {
    font-size: 2rem;
}

/* ------------------------------------------------------------------------------------------------ */

.profile-options {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-options .profile-options-left,
.profile-options-right {
    height: auto;
    width: auto;
}

.profile-options a {
    text-decoration: none;
    color: black;
}

.profile-options button {
    height: auto;
    width: auto;
    padding: 0.3rem;
    cursor: pointer;
}


/* ------------------------------------------------------------------------------------------------ */

.data {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 1rem;
}

.total-users-box {
    height: auto;
    width: auto;
    padding: 1rem;
    text-align: center;
    background-color: rgba(130, 130, 130, 0.200);
}

.total-users-box span {
    font-size: 2rem;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------ */

.filter-options {
    height: auto;
    width: 100%;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.filter-options-left {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.filter-options-right {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.filter-options button {
    height: 100%;
    width: auto;
    padding: 0.5rem;
    cursor: pointer;
}

.filter-options input,
select {
    height: 100%;
    width: auto;
    padding: 0.5rem;
    outline: none;
}

/* ------------------------------------------------------------------------------------------------ */

#found-users {
    margin-bottom: 1rem;
}

#filter-results {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.filtered-user {
    height: auto;
    width: 100%;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.200);
    overflow: auto;
}

/* ------------------------------------------------------------------------------------------------ */

footer {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}