* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Times New Roman';
}

body {
    height: 100%;
    width: 100%;
}

hr {
    margin: 1rem 0;
}

.body {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    overflow: auto;
}

/* ------------------------------------------------------------------------------------------------ */

nav {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-box {
    height: 3rem;
    width: auto;
}

.logo-box img {
    height: 100%;
    width: auto;
}

.search-box {
    height: 3rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search-box input {
    height: 100%;
    width: 50%;
    padding: 0.5rem;
    outline: none;
}

.search-box button {
    height: 100%;
    width: auto;
    padding: 0 0.5rem;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------ */

.profile-options {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-options .profile-options-left,
.profile-options-right {
    height: auto;
    width: auto;
}

.profile-options a {
    text-decoration: none;
    color: black;
}

.profile-options button {
    height: auto;
    width: auto;
    padding: 0.3rem;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------ */

.filter-options {
    height: auto;
    width: 100%;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.filter-options-left {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.filter-options-right {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.filter-options button {
    height: 100%;
    width: auto;
    padding: 0.5rem;
    cursor: pointer;
}

.filter-options input,
select {
    height: 100%;
    width: auto;
    padding: 0.5rem;
    outline: none;
}

/* ------------------------------------------------------------------------------------------------ */

#found-users {
    margin-bottom: 1rem;
}

#filter-results {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.filtered-user {
    height: 15rem;
    width: 10rem;
    background-color: rgba(130, 130, 130, 0.200);
    cursor: pointer;
}

.filtered-user:hover {
    border: 1px solid black;
}

.filtered-user-img-box {
    height: 80%;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtered-user-img-box img {
    height: 100%;
    width: 100%;
}

.filtered-user .filtered-user-data {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtered-user-data p {
    height: fit-content;
    width: fit-content;
}

/* ------------------------------------------------------------------------------------------------ */

footer {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}