* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

hr {
    margin: 1rem 0;
}


#body {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    overflow: auto;
}

.display-error-message {
    display: none;
}

/* ------------------------------------------------------------------------------------------------ */

nav {
    border: 1px solid black;
    height: 3rem;
    width: 100%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-box {
    height: 100%;
    width: auto;
}

.logo-box img {
    height: 100%;
    width: auto;
}

.search-box {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search-box input {
    height: 100%;
    width: auto;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
}

.search-box button {
    height: 100%;
    width: auto;
    font-size: 1rem;
    padding: 0.3rem;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------ */

.profile-options {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-options a {
    text-decoration: none;
    color: black;
}

.profile-options button {
    height: auto;
    width: auto;
    padding: 0.3rem;
    cursor: pointer;
}

.show-connections-box {
    border: 2px solid black;
    height: 30rem;
    width: 40rem;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: show-connections-box 0.3s;
}

.top {
    border-bottom: 1px solid black;
    height: 10%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top span {
    font-size: 1.5rem;
}

.button-box {
    border-bottom: 1px solid black;
    height: 10%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-box #followers-button,
#followings-button {
    height: auto;
    width: 40%;
    padding: 0.5rem;
    cursor: pointer;
}

.button-box #x-button {
    height: auto;
    width: auto;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.show-connections {
    background-color: rgba(130, 130, 130, 0.300);
}

#list-box {
    height: 80%;
    width: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    flex-direction: column;
    overflow: auto;
}

#list-box .connected-user-box {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connected-user-box .connected-user {
    height: 100%;
    width: 100%;
    background-color: rgba(130, 130, 130, 0.300);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.connected-user:hover {
    border: 1px solid black;
}

.connected-user .connected-user-img-box {
    border-right: 1px solid black;
    height: 100%;
    width: 30%;
    text-align: center;
}

.connected-user-img-box img {
    height: 100%;
    width: 50%;
}

.connected-user .connected-user-data {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connected-user-data p {
    height: fit-content;
    width: fit-content;
}

.connected-user-box #remove {
    height: 100%;
    width: auto;
    padding: 1rem;
    cursor: pointer;
}

@keyframes show-connections-box {
    from {
        height: 0rem;
        width: 0rem;
        opacity: 0;
    }

    to {
        height: 25rem;
        width: 40rem;
        opacity: 1;
    }
}

.hide-connections-box {
    border: 2px solid black;
    height: 30rem;
    width: 40rem;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: hide-connections-box 0.3s;
}

@keyframes hide-connections-box {
    from {
        height: 30rem;
        width: 40rem;
        opacity: 1;
    }

    to {
        height: 0rem;
        width: 0rem;
        opacity: 0;
    }
}

/* ------------------------------------------------------------------------------------------------ */

.main-box {
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
}

/* ------------------------------------------------------------------------------------------------ */

.main-box .left {
    border: 3px solid white;
    height: 100%;
    width: 30%;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.300);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    flex-direction: column;
}

.left p {
    height: auto;
    width: 100%;
}

.profile-photo-box {
    border: 1px solid black;
    height: 15rem;
    width: 12rem;
}

.profile-photo-box img {
    height: 100%;
    width: 100%;
}

#user-name {
    font-weight: bold;
    text-align: center;
}

#user-bio {
    text-align: center;
}

#follow-button {
    height: auto;
    width: auto;
    padding: 0.3rem;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------ */

.main-box .right {
    height: 100%;
    width: 70%;
}

table {
    height: 100%;
    width: 100%;
}

table td {
    border: 3px solid white;
    height: auto;
    width: 50%;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.300);
}

td button {
    height: auto;
    width: auto;
    padding: 0.3rem;
    cursor: pointer;
}

.display-page-content {
    white-space: pre-wrap;
}

/* ------------------------------------------------------------------------------------------------ */

@media (min-width: 2000px) {
    #body {
        display: none;
    }

    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: top;
        justify-content: center;
    }

    .display-error-message {
        display: block;
        margin-top: 10vh;
        text-align: center;
    }
}

@media (max-width: 650px) {
    #body {
        display: none;
    }

    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: top;
        justify-content: center;
    }

    .display-error-message {
        display: block;
        margin-top: 10vh;
        text-align: center;
    }
}